# Data Wrangling
## September 2021
Create a tidy dataset from the training data provided for the Kaggle competition. 
https://www.kaggle.com/c/ga-customer-revenue-prediction/overview

Note: The target for the project is the natural log of the sum of the spend for each user. So...

$target_{user} = ln(y_{user}+1)$

where 

$y_{user} = \sum\limits_{1}^{n} transactions_{user}$

I will have to aggregate the spend of each user for the target variable.  I could do that on the front end, but that would get rid of the time component (repeated visits to store) so I don't want to do that.  I will have to figure out how to aggregate the predictions after modelling.

In [1]:
import pandas as pd
import os
import numpy as np
import json

Read in training data

In [2]:
os.chdir(r'D:\Springboard\Capstone 3 maybe\Google Analytics')
os.listdir()

['sample_submission.csv',
 'sample_submission_v2.csv',
 'test.csv',
 'test_v2.csv',
 'train.csv',
 'train_v2.csv',
 'train_wrangled.csv']

In [3]:
raw_train = pd.read_csv('train_v2.csv', parse_dates=['date'],dtype={'fullVisitorId':'object'})
raw_train.head()

,channelGrouping,customDimensions,date,device,fullVisitorId,geoNetwork,hits,socialEngagementType,totals,trafficSource,visitId,visitNumber,visitStartTime
0,Organic Search,"[{'index': '4', 'value': 'EMEA'}]",2017-10-16,"{""browser"": ""Firefox"", ""browserVersion"": ""not ...",3162355547410993243,"{""continent"": ""Europe"", ""subContinent"": ""Weste...","[{'hitNumber': '1', 'time': '0', 'hour': '17',...",Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1508198450,1,1508198450
1,Referral,"[{'index': '4', 'value': 'North America'}]",2017-10-16,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",8934116514970143966,"{""continent"": ""Americas"", ""subContinent"": ""Nor...","[{'hitNumber': '1', 'time': '0', 'hour': '10',...",Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""2"", ""pageviews"": ""2"",...","{""referralPath"": ""/a/google.com/transportation...",1508176307,6,1508176307
2,Direct,"[{'index': '4', 'value': 'North America'}]",2017-10-16,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",7992466427990357681,"{""continent"": ""Americas"", ""subContinent"": ""Nor...","[{'hitNumber': '1', 'time': '0', 'hour': '17',...",Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""2"", ""pageviews"": ""2"",...","{""campaign"": ""(not set)"", ""source"": ""(direct)""...",1508201613,1,1508201613
3,Organic Search,"[{'index': '4', 'value': 'EMEA'}]",2017-10-16,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",9075655783635761930,"{""continent"": ""Asia"", ""subContinent"": ""Western...","[{'hitNumber': '1', 'time': '0', 'hour': '9', ...",Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""2"", ""pageviews"": ""2"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1508169851,1,1508169851
4,Organic Search,"[{'index': '4', 'value': 'Central America'}]",2017-10-16,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",6960673291025684308,"{""continent"": ""Americas"", ""subContinent"": ""Cen...","[{'hitNumber': '1', 'time': '0', 'hour': '14',...",Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""2"", ""pageviews"": ""2"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1508190552,1,1508190552

In [4]:
raw_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1708337 entries, 0 to 1708336
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   channelGrouping       object
 1   customDimensions      object
 2   date                  datetime64[ns]
 3   device                object
 4   fullVisitorId         object
 5   geoNetwork            object
 6   hits                  object
 7   socialEngagementType  object
 8   totals                object
 9   trafficSource         object
 10  visitId               int64
 11  visitNumber           int64
 12  visitStartTime        int64
dtypes: datetime64[ns](1), int64(3), object(9)
memory usage: 169.4+ MB

In [5]:
raw_train.shape

(1708337, 13)

In [6]:
train = raw_train.copy()

There don't appear to be any nulls, and I have formatted the `date` and `fullVisitorId` columns correctly on the read in.  There are 4 columns that are dictionarys that need to be convereted to a number of columns.  I will create a function to do that now.

In [7]:
#dict_cols = ['device','geoNetwork','totals','trafficSource']

In [8]:
#train['device'] = train.device.apply(json.loads)

For the first of the columns with a dictionary (in string form) from the dataset I will only keep the features that don't say `not available in demo dataset`

In [9]:
train.loc[0,'device']

'{"browser": "Firefox", "browserVersion": "not available in demo dataset", "browserSize": "not available in demo dataset", "operatingSystem": "Windows", "operatingSystemVersion": "not available in demo dataset", "isMobile": false, "mobileDeviceBranding": "not available in demo dataset", "mobileDeviceModel": "not available in demo dataset", "mobileInputSelector": "not available in demo dataset", "mobileDeviceInfo": "not available in demo dataset", "mobileDeviceMarketingName": "not available in demo dataset", "flashVersion": "not available in demo dataset", "language": "not available in demo dataset", "screenColors": "not available in demo dataset", "screenResolution": "not available in demo dataset", "deviceCategory": "desktop"}'

In [10]:
train['device'] = train['device'].apply(json.loads)
### apply json.loads function to convert string to dictionary

In [11]:
train.loc[0,'device']

{'browser': 'Firefox',
 'browserVersion': 'not available in demo dataset',
 'browserSize': 'not available in demo dataset',
 'operatingSystem': 'Windows',
 'operatingSystemVersion': 'not available in demo dataset',
 'isMobile': False,
 'mobileDeviceBranding': 'not available in demo dataset',
 'mobileDeviceModel': 'not available in demo dataset',
 'mobileInputSelector': 'not available in demo dataset',
 'mobileDeviceInfo': 'not available in demo dataset',
 'mobileDeviceMarketingName': 'not available in demo dataset',
 'flashVersion': 'not available in demo dataset',
 'language': 'not available in demo dataset',
 'screenColors': 'not available in demo dataset',
 'screenResolution': 'not available in demo dataset',
 'deviceCategory': 'desktop'}

In [12]:
device_cols = ['browser','operatingSystem','isMobile','deviceCategory']

In [13]:
for c in device_cols:
    train[c] = train['device'].apply(lambda x: x.get(c,np.nan))

In [14]:
train[device_cols]

                 browser operatingSystem  isMobile deviceCategory
0                Firefox         Windows     False        desktop
1                 Chrome       Chrome OS     False        desktop
2                 Chrome         Android      True         mobile
3                 Chrome         Windows     False        desktop
4                 Chrome         Windows     False        desktop
...                  ...             ...       ...            ...
1708332           Chrome         Windows     False        desktop
1708333           Chrome         Android      True         mobile
1708334  Android Webview         Android      True         mobile
1708335           Chrome         Windows     False        desktop
1708336           Chrome         Android      True         mobile

[1708337 rows x 4 columns]

In [15]:
train[device_cols].dtypes

browser            object
operatingSystem    object
isMobile             bool
deviceCategory     object
dtype: object

That looks almost perfect for the `device` column.  Eventually the `isMobile` column will need to be converted to 0's and 1's, so I'll do that now.

In [16]:
train['isMobile'] = train['isMobile']*1
train['isMobile'].mean()

0.314145862321076

Done.  It looks like 31% of the records come from mobile devices.

Now I can process the `geoNetwork` column the same way.

In [17]:
train['geoNetwork'] = train['geoNetwork'].apply(json.loads)
train.loc[0,'geoNetwork']

{'continent': 'Europe',
 'subContinent': 'Western Europe',
 'country': 'Germany',
 'region': 'not available in demo dataset',
 'metro': 'not available in demo dataset',
 'city': 'not available in demo dataset',
 'cityId': 'not available in demo dataset',
 'networkDomain': '(not set)',
 'latitude': 'not available in demo dataset',
 'longitude': 'not available in demo dataset',
 'networkLocation': 'not available in demo dataset'}

In [18]:
geoNet_cols = ['continent','subContinent','country','region','metro','city','networkDomain']

In [19]:
for c in geoNet_cols:
    train[c] = train['geoNetwork'].apply(lambda x: x.get(c,np.nan))

In [20]:
train[geoNet_cols].dtypes

continent        object
subContinent     object
country          object
region           object
metro            object
city             object
networkDomain    object
dtype: object

In [21]:
train[geoNet_cols].isna().sum()

continent        0
subContinent     0
country          0
region           0
metro            0
city             0
networkDomain    0
dtype: int64

Job done, column types are correct and no nulls.  Now I'll skip `totals` and deal with `trafficSource`.

In [22]:
train['trafficSource'] = train['trafficSource'].apply(json.loads)
train.loc[0,'trafficSource']

{'campaign': '(not set)',
 'source': 'google',
 'medium': 'organic',
 'keyword': 'water bottle',
 'adwordsClickInfo': {'criteriaParameters': 'not available in demo dataset'}}

In [23]:
traffic_cols = ['campaign','source','medium','keyword']

In [24]:
for c in traffic_cols:
    train[c] = train['trafficSource'].apply(lambda x: x.get(c,np.nan))

In [25]:
train[traffic_cols].dtypes

campaign    object
source      object
medium      object
keyword     object
dtype: object

In [26]:
train[traffic_cols].isna().sum()/train.shape[0]

campaign    0.00000
source      0.00000
medium      0.00000
keyword     0.61626
dtype: float64

Job done.

Now for `totals` which also happens to have the target for this project `transactionRevenue`, the amount of money spent at the GStore. I assume where this is not present in the record, there was no purchase made.

In [27]:
train['totals'] = train['totals'].apply(json.loads)
train.loc[0,'totals']

{'visits': '1',
 'hits': '1',
 'pageviews': '1',
 'bounces': '1',
 'newVisits': '1',
 'sessionQualityDim': '1'}

In [28]:
totals_cols = ['visits','hits','pageviews','bounces','newVisits','sessionQualityDim','transactionRevenue']

In [29]:
for c in totals_cols:
    train[c] = train['totals'].apply(lambda x: x.get(c,0))

In [30]:
### Correct the data type for the latest created columns
for c in totals_cols:
    train[c] = pd.to_numeric(train[c])

In [31]:
### Quick look at the transactionRevenue by top spenders
train.groupby('fullVisitorId')[['transactionRevenue']].sum().sort_values('transactionRevenue',ascending=False).head(10)

                     transactionRevenue
fullVisitorId
1957458976293878100        119851560000
5632276788326171571         16023750000
9417857471295131045         15170120000
4471415710206918415         11211100000
4984366501121503466          9513900000
7311242886083854158          9507410000
9089132392240687728          8951970000
5469079519715865124          8820710000
2050125810100188362          8672970000
1735639359262605484          7913850000

Woah these numbers look way too big... $119 trillion????

I found a discussion thread saying that units are actually $1*10^6.  I will leave the numbers for now, but will need to change for plotting later.

Finally I will fix the `customDimensions` column

In [38]:
#train['customDimensions'] = train['customDimensions'].apply(json.loads)
train.loc[0,'customDimensions']

"[{'index': '4', 'value': 'EMEA'}]"

Now I can drop the 4 columns that I extracted sub columns out of

In [32]:
train = train.drop(['device','geoNetwork','totals','trafficSource'],axis=1)

In [33]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1708337 entries, 0 to 1708336
Data columns (total 30 columns):
 #   Column                Dtype
---  ------                -----
 0   channelGrouping       object
 1   customDimensions      object
 2   date                  datetime64[ns]
 3   fullVisitorId         object
 4   hits                  int64
 5   socialEngagementType  object
 6   visitId               int64
 7   visitNumber           int64
 8   visitStartTime        int64
 9   browser               object
 10  operatingSystem       object
 11  isMobile              int32
 12  deviceCategory        object
 13  continent             object
 14  subContinent          object
 15  country               object
 16  region                object
 17  metro                 object
 18  city                  object
 19  networkDomain         object
 20  campaign              object
 21  source                object
 22  medium                object
 23  keyword               object
 24  visits                int64
 25  pageviews             int64
 26  bounces               int64
 27  newVisits             int64
 28  sessionQualityDim     int64
 29  transactionRevenue    int64
dtypes: datetime64[ns](1), int32(1), int64(10), object(18)
memory usage: 384.5+ MB

Is there some redundancy here in the visits columns? I'll take a look

In [34]:
train[['fullVisitorId','visitId','visitNumber','visitStartTime','visits','hits','pageviews','bounces','newVisits','transactionRevenue']].sort_values('fullVisitorId')

,fullVisitorId,visitId,visitNumber,visitStartTime,visits,hits,pageviews,bounces,newVisits,transactionRevenue
683687,0000000259678714014,1511912001,1,1511912001,1,3,3,0,1,0
680923,0000000259678714014,1511914780,2,1511914780,1,16,10,0,0,0
379656,0000010278554503158,1477029466,1,1477029466,1,11,8,0,1,0
168926,0000020424342248747,1480578901,1,1480578901,1,17,13,0,1,0
1260547,0000027376579751715,1486866293,1,1486866293,1,6,5,0,1,0
...,...,...,...,...,...,...,...,...,...,...
1132625,9999978264901065827,1485325580,1,1485325580,1,1,1,1,1,0
1092080,9999985820452794361,1524174443,2,1524174443,1,5,5,0,0,0
1092135,9999985820452794361,1524173872,1,1524173872,1,6,6,0,1,0
256613,9999986437109498564,1491867670,1,1491867670,1,2,2,0,1,0
988316,9999997304197521748,1508004130,1,1508004130,1,3,3,0,1,0

For my own reference a few definitions for these columns from www.tendenci.com

"""
1. __Visit__ - This is the one piece of information that you really want to know. A visit is one individual visitor who arrives at your web site and proceeds to browse. A visit counts all visitors, no matter how many times the same visitor may have been to your site.
 
2. __Unique Visit/New Visit__ - This is also called Visit by Cookie. A unique visit will tell you which visits from item 1 are visiting your site for the first time. The website can track this as unique by the IP address of the computer. *The number of unique visits will be far less that visits because a unique visit is only tracked if cookies are enabled on the visitors computer*
 
3. __Page View__ - This is also called Impression.  Once a visitor arrives at your website, they will search around on a few more pages. On average, a visitor will look at about 2.5 pages. Each individual page a visitor views is tracked as a page view.
 
4. __Hits__ - The real Black Sheep in the family. The average website owner thinks that a hit means a visit but it is very different (see item 1).  A Hit actually refers to the number of files downloaded on your site, this could include photos, graphics, etc. Picture the average web page, it has photos (each photo is a file and hence a hit) and lots of buttons (each button is a file and hence a hit). On average, each page will include 15 hits.
 
To give you an example -  Using the average statistics listed above, 1 Visit to an average web site will generate 3 Page Views and 45 Hits.
 
"""

Also from webtrafficgeeks.org

__Bounce__ = user left the website without clicking further

In [35]:
train[train.visitNumber>1][['fullVisitorId','visitNumber','newVisits']].head(10)

          fullVisitorId  visitNumber  newVisits
1   8934116514970143966            6          0
9   1259490915281096752            2          0
13  6135613929977117121           10          0
24  5634653258298299672            3          0
29   451521411412093630            3          0
31  9630953897602496525            2          0
35  8292302978090732261            4          0
41  8461088577726398196            6          0
45  8574773000077178719            2          0
57  7122741899604173060           14          0

In [36]:
train[(train.fullVisitorId=='0949718915643445721')].sort_values('visitNumber')

,channelGrouping,customDimensions,date,fullVisitorId,hits,socialEngagementType,visitId,visitNumber,visitStartTime,browser,...,campaign,source,medium,keyword,visits,pageviews,bounces,newVisits,sessionQualityDim,transactionRevenue
1420089,Direct,"[{'index': '4', 'value': 'North America'}]",2016-08-06,0949718915643445721,1,Not Socially Engaged,1470518725,18,1470518725,Chrome,...,(not set),(direct),(none),NaN,1,1,1,0,0,0
1420052,Direct,"[{'index': '4', 'value': 'North America'}]",2016-08-06,0949718915643445721,1,Not Socially Engaged,1470546023,19,1470546023,Chrome,...,(not set),(direct),(none),NaN,1,1,1,0,0,0
1693820,Direct,"[{'index': '4', 'value': 'North America'}]",2016-08-07,0949718915643445721,1,Not Socially Engaged,1470617387,20,1470617387,Chrome,...,(not set),(direct),(none),NaN,1,1,1,0,0,0
22738,Direct,"[{'index': '4', 'value': 'North America'}]",2016-08-11,0949718915643445721,1,Not Socially Engaged,1470928701,21,1470928701,Chrome,...,(not set),(direct),(none),NaN,1,1,1,0,0,0
1629799,Direct,"[{'index': '4', 'value': 'North America'}]",2016-08-18,0949718915643445721,1,Not Socially Engaged,1471573251,22,1471573251,Chrome,...,(not set),(direct),(none),NaN,1,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1659001,Direct,"[{'index': '4', 'value': 'North America'}]",2016-10-05,0949718915643445721,1,Not Socially Engaged,1475675614,141,1475675614,Chrome,...,(not set),(direct),(none),NaN,1,1,1,0,0,0
91798,Direct,"[{'index': '4', 'value': 'North America'}]",2016-10-14,0949718915643445721,2,Not Socially Engaged,1476452567,142,1476452567,Chrome,...,(not set),(direct),(none),NaN,1,2,0,0,0,0
397415,Direct,"[{'index': '4', 'value': 'North America'}]",2016-10-15,0949718915643445721,1,Not Socially Engaged,1476551760,143,1476551760,Chrome,...,(not set),(direct),(none),NaN,1,1,1,0,0,0
397479,Direct,"[{'index': '4', 'value': 'North America'}]",2016-10-15,0949718915643445721,1,Not Socially Engaged,1476587564,144,1476587564,Chrome,...,(not set),(direct),(none),NaN,1,1,1,0,0,0
219819,Direct,"[{'index': '4', 'value': 'North America'}]",2016-10-18,0949718915643445721,1,Not Socially Engaged,1476811451,145,1476811451,Chrome,...,(not set),(direct),(none),NaN,1,1,1,0,0,0

After exploring a little, if `visitNumber` is > 1 then `newVisit` is 0, so `visitNumber` and `newVisits` appear to contain redundant information. I'll leave it for now.  In EDA I will check to see if `newVisit` has any other information value concerning the target.

In [35]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 28 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   channelGrouping       903653 non-null  object
 1   date                  903653 non-null  datetime64[ns]
 2   fullVisitorId         903653 non-null  object
 3   sessionId             903653 non-null  object
 4   socialEngagementType  903653 non-null  object
 5   visitId               903653 non-null  int64
 6   visitNumber           903653 non-null  int64
 7   visitStartTime        903653 non-null  int64
 8   browser               903653 non-null  object
 9   operatingSystem       903653 non-null  object
 10  isMobile              903653 non-null  int32
 11  deviceCategory        903653 non-null  object
 12  continent             903653 non-null  object
 13  subContinent          903653 non-null  object
 14  country               903653 non-null  object
 15  region                903653 non-null  object
 16  metro                 903653 non-null  object
 17  city                  903653 non-null  object
 18  networkDomain         903653 non-null  object
 19  campaign              903653 non-null  object
 20  source                903653 non-null  object
 21  medium                903653 non-null  object
 22  visits                903653 non-null  int64
 23  hits                  903653 non-null  int64
 24  pageviews             903653 non-null  int64
 25  bounces               903653 non-null  int64
 26  newVisits             903653 non-null  int64
 27  transactionRevenue    903653 non-null  int64
dtypes: datetime64[ns](1), int32(1), int64(9), object(17)
memory usage: 189.6+ MB

The dataset looks like it is ready for EDA.  I will export the cleaned set now.

In [41]:
train.to_csv('train_wrangled.csv')

Done and ready for EDA.